.borderBlack {
    border: 2px solid black;
}

.borderGreen {
    border: 5px solid greenyellow
}

.borderRed {
    border: 5px solid red
}

.displayFlex {
    display: flex;
}

.flex-directionColumn {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.justifySpaceAround {
    justify-content: space-around;
}

/* .centerHorizontal {
    position: relative;
    left: 50%;
} */

.groupImage {
    width: 25rem;
    height: 20rem;
}

.mainText {
    width: 45rem;
}

.adjustHorizontal {
    /* position: relative */
    display: flex;
}

.textWrap {
    inline-size: 20rem;
}

.groupInfo {
    width: 20rem;
}
