form {
    border: 2px solid black;
}

.hidden {
    display: none
}

.borderBlack {
    border: 2px solid black;
}

.borderGreen {
    border: 2px solid green;
}

.borderBlue {
    border: 5px solid blue
}

.borderRed {
    border: 5px solid red
}

.displayFlex {
    display: flex;
}

.flex-directionColumn {
    flex-direction: column;
}

.justfiySpaceBetween {
    justify-content: space-between;
}

.justifySpaceAround {
    justify-content: space-around;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.alignSelfCenter {
    align-self: center
}

.home {
    border: 2px solid black
}

.profile {
    border: 2px solid black
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.positionSticky {
    position: sticky;
}

.positionNavBar {
    top: 5rem;
    right: 1rem;
}

.paddingProfileIconTR {
    padding-top: 1rem;
    padding-right: 4rem;

}

.paddingProfileDropDown {
    padding-right: 1.5rem;
}

.paddingDown {
    padding-bottom: 0.5rem;
}

.squareFavicon {
    width: 3rem;
    height: 3rem;
}

.squareLogSign {
    width: 5rem;
    height: 5rem;
}

.adventureUpFont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: black
}

.buttonWidth {
    width: 15rem;
}

.marginBottom {
    margin-bottom: 0.5rem;
}

.marginBottomLrg {
    margin-bottom: 1rem;
}

.dimensionsForm {
    width: 25rem;
    height: 50rem;
}

.signup-textSize {
    font-size: 85%;
}

.signup-dimensions {
    width: 50rem;
    height: 37rem;
}

.signup-form {
    width: 42rem;
    height: 30rem;
}

.signup-inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
}

.finn-good-dimensions {
    width: 100%;
    height: 300px;
}

.finn-bad-dimensions {
    width: 200px;
    height: 300px;
}

.signup-button {
    margin-top: 20px;
}

.signup-signupButton-waring {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signup-image-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin-left: 2rem;
}
