.UborderBlack {
    border: 2px solid black;
}

.UborderGreen {
    border: 5px solid greenyellow
}

.UborderRed {
    border: 5px solid red
}

.UborderBlue {
    border: 5px solid blue;
}

.UpurpleBorder {
    border: 5px solid #cd93f9;
    border-radius: 15px;
}

.UpinkButton {
    background-color:#fe66ca;
}

.UpinkButton:hover {
    box-shadow: 0rem 0rem 0.5rem 0.5rem #ffba1e;
}

.UbuttonDimensions {
    font-size: large;
    font-weight: 550;
    width: 10rem;
    height: 3rem;

}

.UfontTreb {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
