.edit-comment-form-container {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 240px;
    align-items: center;
    justify-content: center;
}

.edit-comment-button {
    width: 150px;
    height: 60px;
}

.edit-comment-textarea {
    min-width: 350px;
    max-width: 350px;
    min-height: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}

.edit-comment-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    margin-bottom: 20px;
}
