.borderBlack {
    border: 2px solid black;
}

.borderGreen {
    border: 5px solid greenyellow
}

.borderRed {
    border: 5px solid red
}

.displayFlex {
    display: flex;
}

.flexGrow {
    flex-grow: 5;
}

.flex-directionColumn {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.justifySpaceAround {
    justify-content: space-around;
}

.alignCenter {
    align-content: center;
}

.textWrap {
    inline-size: 700px;
    overflow-wrap: break-word;
}

.textWrapCentered {
    inline-size: 500px;
    overflow-wrap: break-word;
    text-align: center;
}

.paddingInfoImageLeft {
    padding-left: 1.5rem;
}

.paddingMainTop {
    padding-top: 8rem;
}

.marginWorksTop {
    padding-top: 2rem;
}

.width {
    width: 100px;
}
