.borderBlack {
    border: 2px solid black;
}

.borderGreen {
    border: 5px solid greenyellow
}

.borderRed {
    border: 5px solid red
}

.displayFlex {
    display: flex;
}

.flexGrow {
    flex-grow: 5;
}

.flex-directionColumn {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.justifySpaceAround {
    justify-content: space-around;
}

.alignCenter {
    align-content: center;
}

.textWrap {
    /* inline-size: 700px; */
    overflow-wrap: break-word;
}

.textWrapCenter{
    width: 70%;
    overflow-wrap: break-word;
    text-align: center
}


.textWrapCentered {
    inline-size: 500px;
    overflow-wrap: break-word;
    text-align: center;
}

.paddingInfoImageLeft {
    padding-left: 1.5rem;
}

.paddingMainTop {
    padding-top: 8rem;
}

.paddingButton {
    padding-top: 2rem;
}

.marginWorksTop {
    padding-top: 2rem;
}

.width {
    width: 100px;
}

.joinButtonDimensions{
    width: 20rem;
    height: 3rem;
}

.pointerCursor {
    cursor: pointer;
}


.color {
    color: black
}


.enable {
    text-decoration: none;
    color: black
}

.color:hover {
    color: #ffba1e;
    text-decoration: underline;
}

.enable:hover {
    color: #ffba1e;
    text-decoration: underline;
}

.disable {
    color: lightgray;
    text-decoration: none;
    cursor: not-allowed;
    pointer-events: none;
}

.marginTop {
    margin-top: 1rem;
}

.imageContainer {
    width: 15rem;
    height: 15rem;
}

.section3Container {
    width: 20rem;
}

.landingPageFontSize {
    font-size: 120%;
}
