.borderBlack {
    border: 2px solid black;
}

.borderGreen {
    border: 5px solid greenyellow
}

.borderRed {
    border: 5px solid red
}

.displayFlex {
    display: flex;
}

.flexGrow {
    flex-grow: 5;
}

.flex-directionColumn {
    flex-direction: column;
}

.justifyCenter {
    justify-content: center;
}

.justifySpaceAround {
    justify-content: space-around;
}

.alignCenter {
    align-content: center;
}

.textWrap {
    inline-size: 500px;
    overflow-wrap: break-word;
}

/* .paddingInfoImage {

} */
