.add-comment-form-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 260px;
    align-items: center;
    justify-content: center;
}

.add-comment-textarea {
    width: 350px;
    height: 100px;
    margin-bottom: 10px;
}

.add-comment-button {
    width: 200px;
    height: 40px;
}
