.eventGroup-mainImage {
    height: 500px;
    width: 800px;
}

.eventGroup-container {
    display: flex;
}

.eventGroup-info {
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 10px;
}
