.eventGroup-mainImage {
    height: 500px;
    width: 800px;
}

.eventGroup-container {
    display: flex;
}

.eventGroup-info {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 10px;
}

.eventGroup-group {
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eventGroup-info-color {
    color: rgb(92, 92, 92);
}

.eventGroup-events {
    display: flex;
}

.eventGroup-button {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

/* .eventGroup-info-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;

} */
