.user-group-group-component {
    border: 1px solid black;
}

.user-group-navlink {
    display: flex;
}

.user-group-info-component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-group-image-dimensions {
    width: 300px;
    height: 200px;
}

.user-group-group-name {
    font-size: x-large;
    font-weight: bolder;
    color: black;
}

.user-group-membership-status {
    font-size: large;
    font-weight: bold;
    color: black;
}
