/* li {
    border: 2px solid blue;
} */

.hidden {
    display: none
}

.borderBlack {
    border: 2px solid black;
}

.borderBlue {
    border: 5px solid greenyellow
}

.borderRed {
    border: 5px solid red
}

.displayFlex {
    display: flex;
}

.justfiySpaceBetween {
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.home {
    border: 2px solid black
}

.profile {
    border: 2px solid black
}

.positionAbsolute {
    position: absolute;
}

.positionNavBar {
    top: 5rem;
    right: 1rem;
}

.padding {
    padding: 1rem;
}

.square {
    width: 3rem;
    height: 3rem;
}

.adventureUpFont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}
