/* li {
    border: 2px solid blue;
} */

.hidden {
    display: none
}

.UcolorBlack {
    color: #070c20;
}

.linkGold:hover {
    color: #ffba1e;
}

.borderBlack {
    border: 10px solid black;
}

.borderBlue {
    border: 5px solid blue
}

.borderRed {
    border: 5px solid red
}

.borderGreen {
    border: 5px solid green;
}

.borderPurple {
    border: 5px solid purple;
}

.displayFlex {
    display: flex;
}

.flex-directionColumn {
    flex-direction: column;
}

.justfiySpaceBetween {
    justify-content: space-between;
}

.justifySpaceAround {
    justify-content: space-around;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.alignSelfCenter {
    align-self: center
}

.profile {
    border: 2px solid black
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}
.positionSticky {
    position: sticky;
}

.positionNavBar {
    top: 5rem;
    right: 1rem;
}

.paddingProfileIconTR {
    padding-top: 1rem;
    padding-right: 4rem;

}

.paddingProfileDropDown {
    padding-right: 1.5rem;
}

.paddingRight {
    padding-right: 4rem;
}

.paddingRightStartNewGroup {
    padding-right: 3rem;
}

.positionMarginLogInSignUp {
    margin-right: 1.7rem;
    margin-top: 2rem;
}

.positionMarginLoggedIn {
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.logInMarginBottom {
    margin-bottom: 0.5rem
}

.userMarginBottom {
    margin-bottom: 0.5rem
}

.squareFavicon {
    width: 3rem;
    height: 3rem;
}

.squareLogSign {
    width: 5rem;
    height: 5rem;
}

.width {
    width: 100%;
}

.marginBottom {
    margin-bottom: 0.5rem;
}

.marginSquareRight {
    margin-right: 2rem;
}

.loggedInTextSize {
    font-size: 120%;
}
